.userAreaNav {
    position: relative;
    list-style: none;
    text-align: center;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #363636;
    z-index: 9999;
}

h2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 30%;
}